.myMenu {
  top: 70px !important;
  width: 500px !important;
  height: 40px !important;
}
.tab a{
  width: 125px !important;
}

.tabs .tab a {
  color: #fdb831 !important;
  font-weight: bolder;
  font-size: 12px !important;
  letter-spacing: 1px;
}

.insertPage {
  top: 70px !important;
  position: relative !important;
  margin: 50px;
  width: 100%;
}
